"*":
  "atom-material-ui":
    colors:
      abaseColor: "#1b95ff"
  core:
    closeDeletedFileTabs: true
    disabledPackages: [
      "minimap"
      "git-diff"
      "go-to-line"
      "welcome"
      "about"
    ]
    themes: [
      "atom-material-ui"
      "solarized-dark-syntax"
    ]
  editor:
    fontSize: 11
  "exception-reporting":
    userId: "196b7d7e-dd3b-47b0-99a5-553350899026"
  "linter-ui-default":
    panelHeight: 300
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
