"*":
  "atom-beautify":
    apex:
      beautify_on_save: true
    arduino:
      beautify_on_save: true
    bash:
      beautify_on_save: true
    c:
      beautify_on_save: true
    cfml:
      beautify_on_save: true
    clj:
      beautify_on_save: true
    coffeescript:
      beautify_on_save: true
    cpp:
      beautify_on_save: true
    crystal:
      beautify_on_save: true
    cs:
      beautify_on_save: true
    css:
      beautify_on_save: true
    csv:
      beautify_on_save: true
    d:
      beautify_on_save: true
    ejs:
      beautify_on_save: true
    elm:
      beautify_on_save: true
    erb:
      beautify_on_save: true
    erlang:
      beautify_on_save: true
    executables:
      php:
        path: "/usr/local/bin/anyenv/envs/phpenv/shims/php"
      "php-cs-fixer":
        path: "/usr/local/bin/php-cs-fixer"
    fortran:
      beautify_on_save: true
    gherkin:
      beautify_on_save: true
    glsl:
      beautify_on_save: true
    go:
      beautify_on_save: true
    gohtml:
      beautify_on_save: true
    handlebars:
      beautify_on_save: true
    haskell:
      beautify_on_save: true
    html:
      beautify_on_save: true
    jade:
      beautify_on_save: true
    java:
      beautify_on_save: true
    js:
      beautify_on_save: true
    json:
      beautify_on_save: true
    jsx:
      beautify_on_save: true
    latex:
      beautify_on_save: true
    less:
      beautify_on_save: true
    lua:
      beautify_on_save: true
    markdown:
      beautify_on_save: true
    marko:
      beautify_on_save: true
    mustache:
      beautify_on_save: true
    nginx:
      beautify_on_save: true
    nunjucks:
      beautify_on_save: true
    objectivec:
      beautify_on_save: true
    ocaml:
      beautify_on_save: true
    pawn:
      beautify_on_save: true
    perl:
      beautify_on_save: true
    php:
      beautify_on_save: true
    puppet:
      beautify_on_save: true
    python:
      beautify_on_save: true
    r:
      beautify_on_save: true
    riot:
      beautify_on_save: true
    ruby:
      beautify_on_save: true
    rust:
      beautify_on_save: true
    sass:
      beautify_on_save: true
    scss:
      beautify_on_save: true
    spacebars:
      beautify_on_save: true
    sql:
      beautify_on_save: true
    svg:
      beautify_on_save: true
    swig:
      beautify_on_save: true
    tss:
      beautify_on_save: true
    twig:
      beautify_on_save: true
    typescript:
      beautify_on_save: true
    ux:
      beautify_on_save: true
    vala:
      beautify_on_save: true
    visualforce:
      beautify_on_save: true
    vue:
      beautify_on_save: true
    xml:
      beautify_on_save: true
    xtemplate:
      beautify_on_save: true
    yaml: {}
  "atom-clock":
    dateFormat: "DD/MM/YYYY H:mm"
    locale: "ja"
  "atom-ide-ui":
    "atom-ide-code-format": {}
    hideNuclideWarning: true
    hyperclick:
      darwinTriggerKeys: "ctrlKey"
    use: {}
  "atom-material-ui":
    colors:
      abaseColor: "#2684f1"
      predefinedColor: "Blue"
    tabs:
      compactTabs: true
      stretchedTabs: true
    treeView:
      compactList: true
    ui:
      animations: false
      panelContrast: true
  "atom-package-deps":
    ignored: [
      "linter-ui-default"
    ]
  core:
    allowPendingPaneItems: false
    automaticallyUpdate: false
    closeEmptyWindows: false
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    destroyEmptyPanes: false
    disabledPackages: [
      "linter"
      "github"
      "git-diff"
    ]
    followSymlinks: false
    packagesWithKeymapsDisabled: [
      "platformio-ide-terminal"
      "tidalcycles"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "solarized-dark-syntax"
    ]
  "disable-keybindings": {}
  docblockr: {}
  editor:
    fontSize: 9
    scrollPastEnd: true
    showIndentGuide: true
  "exception-reporting":
    userId: "09793c87-d004-40e1-acc2-2e097e737db5"
  "ide-php":
    phpPath: "/usr/local/bin/anyenv/envs/phpenv/shims/php"
  "linter-php":
    executablePath: "/usr/local/bin/anyenv/envs/phpenv/shims/php"
  "linter-phpcs":
    executablePath: "/usr/local/bin/anyenv/envs/phpenv/shims/phpcs"
  "linter-phpmd":
    executablePath: "/usr/local/bin/anyenv/envs/phpenv/shims/phpmd"
  "linter-ui-default":
    panelHeight: 300
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
  nuclide:
    "nuclide-working-sets": {}
    use:
      "atom-ide-diagnostics-ui": false
  "php-integrator-base":
    linting: {}
  "platformio-ide-terminal":
    customTexts: {}
    style:
      theme: "solarized-dark"
  "symbols-tree-view":
    autoHide: true
    autoToggle: true
  "tree-view":
    alwaysOpenExisting: true
    autoReveal: true
  welcome:
    showOnStartup: false
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
