"*":
  "atom-material-ui":
    colors:
      abaseColor: "#1ca0fc"
  "atom-package-deps":
    ignored: [
      "linter-ui-default"
    ]
  core:
    allowPendingPaneItems: false
    automaticallyUpdate: false
    closeDeletedFileTabs: true
    disabledPackages: [
      "git-diff"
      "go-to-line"
      "welcome"
      "about"
      "minimap-autohide"
      "open-on-github"
    ]
    themes: [
      "atom-material-ui"
      "solarized-dark-syntax"
    ]
  editor:
    fontSize: 13
    showIndentGuide: true
  "exception-reporting":
    userId: "196b7d7e-dd3b-47b0-99a5-553350899026"
  "linter-ui-default":
    panelHeight: 300
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
